" https://github.com/JetBrains/ideavim
let mapleader=" "
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
map <leader>9  :action IdeaVim.ReloadVimRc.reload<CR>

"" -- SEARCHING --
set incsearch
set hlsearch
nmap <Esc><Esc> :nohl<CR>
set ignorecase
set smartcase

" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- VIM PLUGINS --
set surround
set ideajoin
set highlightedyank
set multiple-cursors
set ReplaceWithRegister
set exchange
set easymotion
nmap f <Plug>(easymotion-s2)

"" -- NORMAL MODE --

" motion full method
nnoremap vm vaBV
nnoremap dm vaBVd
nnoremap cm vaBVc
nnoremap ym vaBVy

nnoremap <A-p> "0p
nnoremap vv <C-v>

nnoremap vw viw
nnoremap yw yiw
nnoremap cw ciw
nnoremap dw diw

nnoremap vb vib
nnoremap yb yib
nnoremap cb cib
nnoremap db dib

nnoremap vB viB
nnoremap yB yiB
nnoremap cB ciB
nnoremap dB diB

nnoremap v" vi"
nnoremap y" yi"
nnoremap c" ci"
nnoremap d" di"

nnoremap v' vi'
nnoremap y' yi'
nnoremap c' ci'
nnoremap d' di'

nnoremap n nzz
nnoremap N Nzz

nnoremap > >>
nnoremap < <<

nnoremap Y y$

"" -- VISUAL MODE --
vnoremap > >gv
vnoremap < <gv

"" -- VISUAL MODE + NORMAL MODE --
noremap H ^
noremap L $

noremap + <C-a>
noremap <leader>+ g<C-a>
noremap - <C-x>

noremap J 5j
noremap K 5k
noremap gj J
"" -- INSERT MODE --
inoremap <C-k> <C-o>D<Right>
inoremap jj <ESC>
inoremap 88 <C-o>^
inoremap 99 <C-o>$
inoremap <A-j> <Down>
inoremap <A-k> <Up>
inoremap <A-h> <Left>
inoremap <A-l> <Right>
inoremap @@ :action EditorCompleteStatement<CR>

" auto format
inoremap <CR> <C-o>gq<CR><C-o>$<CR>

"" -- IDEA ACTION -
" Debug
map <leader>d :action Debug<CR>
map <leader>s :action Stop<CR>
map <leader>w :action Debugger.AddToWatch<CR>
map <leader>b :action ToggleLineBreakpoint<CR>

" Window
map <leader><Right> :action MoveTabRight<CR>
map <leader><Left> :action MoveEditorToOppositeTabGroup<CR>
map <leader><Down> :action SplitHorizontally<CR>
map <leader>x :action CloseContent<CR>
map <leader>X :action ReopenClosedTab<CR>
map <leader>co :action CloseAllEditorsButActive<CR>
map <leader>ca :action CloseAllEditors<CR>
map <leader>o :action SelectInProjectView<CR>
map <leader>e :action RecentLocations<CR>

" FORMAT
map <leader>rf :action ReformatCode<CR>
map <leader>rn :action RenameFile<CR>

" FIND ERROR
map <A-e> :action GotoNextError<CR>
map <A-S-e> :action GotoPreviousError<CR>

" FIND FILE & ACTION
map <A-f> :action FindInPath<CR>
map <A-r> :action ReplaceInPath<CR>
map ga :action GotoAction<CR>
map gf :action GotoFile<CR>
map gt :action GotoTest<CR>

map <leader>gen :action Generate<CR>
map <leader>[ :action SurroundWith<CR>
map <leader>nc :action NewClass<CR>
map <leader>nd :action NewDir<CR>